@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&family=Roboto+Condensed:ital@1&display=swap');


body {
    margin: 0;
    padding: 0;
}

/****************************** BANNER SECTION START ************************************/
            /* --------------------Navbar-------------------- */
            .banner {
                display: flex;
                justify-content: space-between;
                padding: 8px 30px;
                background-color: white;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.200);
                z-index: 10 !important;
                width: 75%;
                margin-left: 10%;
                margin-top: 3%;
            }

            .banner.initial {
                position: relative;
            }
            
            .banner.sticky {
                position: fixed;
                width: 100%;
                margin-left: 0;
                margin-top: 0%;
            }
            

.logo img {
    padding: 10px;
}

.navbar ul li {
    display: inline-block;
    padding: 10px;
    list-style: none;
}

.navbar li a {
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    position: sticky;
}

.navbar li a:hover {
    color: #fd7e14;
}

.navbar i {
    color: #000;
}

.navbar i:hover {
    color: #fd7e14;
}

.sub-menu {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    background: #fff;
}
.sub-menu ul li{
    padding: 15px 25px;
    border-bottom: 1px solid #6c6e7463;
}
.sub-menu ul li a{
    font-weight: 700;
    color: #fd7e14 !important;
}
.sub-menu ul{
    padding-inline-start: 0 ;
}

.navbar ul li:hover .sub-menu {
    display: block;
    position: absolute;
}

.navbar ul li:hover .sub-menu li {
    display: block;
}

.sub-menu li:hover{
    background: linear-gradient(135deg,#ffc107,#fd7e14);
    transition: 0.5s ease-in-out !important;
}
.sub-menu li:hover a{
    color: #fff !important;
}
         /* --------------------Navbar-------------------- */
.blog-page1 {
    height: 58vh;
    background-image: url('img/banner/common-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    z-index: -2;
    display: flex;
    margin-bottom: 90px;
}

.text {
    float: right;
    margin-right: 18%;
    margin-top: 0%;
}

.text .fa-arrow-right-long {
    color: #fff;
}

.text h1 {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 0;
    font-weight: 600;
    margin-top: 100px;
}

.text a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
nav.sticky{
    position: fixed;
    top: 0%;
    left: 0%;
}
/****************************** BANNER SECTION END ************************************/

.container{
    display: flex;
    justify-content: space-evenly;
}
.category-post{
    position: relative;
    text-align: center;
    cursor: pointer;
}

.category-post img{
    max-width: 100%;
}

.category-post .category-details{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",sans-serif;
}
.category-post .category-details:hover{
    background: #fd7d14b9;
}
.category-post .category-details h2{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.category-post .category-details a{
    text-decoration: none;
}
.category-post .category-details .border-line{
    margin: 10px 0px;
    color: #fff;
    width: 100%;
    height: 2px;
}

/* ======================================================================================= */

.blog_left_sidebar{
    display: flex;
    margin-top: 7%;
}
.blog_info{
padding: 20px 10px;
}

.blog_info {
    text-align: right;
}
.blog_info .post_tag a{
text-decoration: none;
color: black;
font-size: 17px;
line-height: 1.5;
}
.blog_info .post_tag a:hover{
    color: #fd7e14;
}

.blog_info .post_tag .active{
    color: #fd7e14;
}

.blog_meta-list li{
    list-style: none;
    line-height: 2;
}
.blog_meta-list a{
    color: black;
    font-size: 17px;
    text-decoration: none;
}
.blog_meta-list a:hover{
    color: #fd7e14;
}

.blog_meta-list .fa-regular{
    padding-left: 10px;
}
.blog_post img{
    max-width: 100%;
}

.blog_post .blog_detail a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-family: Poppins,sans-serif;
}
.blog_post .blog_detail a:hover{
    color: brown;
}

.blog_post p{
    font-size: 16px;
    font-family: Poppins, sans-serif;
}